# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
venv

# Build process
dist
dist-ssr

# Locals
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
downloads/
screenshots/
runtests.sh

# Python cache
__pycache__

# Project-specific
**/articles.json
data.db
rss-fetcher/
