[MASTER]
# this makes Pylint understand the working directory
# you may need to restart you editor with a fresh setup
init-hook='import sys; sys.path.extend([".", "./server"])'

[MESSAGES CONTROL]
# broad exception isn't an issue, certainly not worthy of a yellow warning
# else-returns make the many possible returns easier to read
disable=broad-exception-caught,no-else-return
