[MASTER]
# this makes Pylint understand the working directory
init-hook='import sys; sys.path.append("server")'

[MESSAGES CONTROL]
# whether it's a flaw or not is debatable, certainly not yellow warning tier
disable=broad-exception-caught