services:
  frontend:
    container_name: frontend_dev_container
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - 4000:4000
    volumes:
      - ./client/src:/app/client/src
      - ./client/index.html:/app/client/index.html
    environment:
      - VITE_WEBPAGE_URL=http://localhost:5000
    depends_on:
      - backend
  backend:
    container_name: backend_dev_container
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - 5000:5000
    volumes:
      # bind mount everything for development
      - ./server/src:/app/server/src
      - ./server/static:/app/server/static
      - ./server/tests:/app/server/tests
      - ./server/requirements.txt:/app/server/requirements.txt
      - ./server/requirements-dev.txt:/app/server/requirements-dev.txt
      - backend-data-folder:/app/server/rss-fetcher/data # persist data, TODO: think if necessary
    stdin_open: true # keep STDIN open even if not attached
    tty: true

volumes:
  backend-data-folder:
