# flask
flask==3.0.3
flask-cors==5.0.0
flask_jwt_extended==4.6.0

# authentication
itsdangerous==2.2.0

# scheduling
apscheduler==3.10.4
flask_apscheduler==1.13.1

# sql
sqlalchemy==2.0.32

# file conversion
pyarrow==17.0.0
