# flask (note that flask-cors doesn't have 4.0.1 set because it has a vulnerability)
flask==3.0.3
flask-cors
flask_jwt_extended==4.6.0

# authentication
itsdangerous==2.2.0

# scheduling
apscheduler==3.10.4
flask_apscheduler==1.13.1

# sql
sqlalchemy==2.0.32

# file conversion
pyarrow==17.0.0
